---
import Layout from "../../components/Layout.astro";
import ProblemBoard from "../../components/ProblemBoard.svelte";

import { getCollection } from "astro:content";
const problems = (await getCollection("problems")).toSorted(
  (a, b) => Number(a.data.id) - Number(b.data.id),
);
---

<Layout>
  <section>
    <h1 class="text-4xl font-bold text-slate-900 text-center">Problem Board</h1>
    <div class="mt-8">
      <ProblemBoard client:load problems={problems} />
    </div>
  </section>
</Layout>
